{% extends "base.html" %}

{% block content %}
<h1>Продукты в категории: {{ products.0.category.name }}</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ product.image.url }}" class="card-img-top">
            <div class="card-body">
                <h5>{{ product.name }}</h5>
                <p>{{ product.price }} руб.</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
